.iapViewer {
	background:#444;
	box-shadow:5px 5px 5px #999;
	color:#FFF;
	height:auto;
	overflow:hidden;
	position:fixed;
	right:20px;
	text-align:center;
	top:50px;
	visibility:hidden;
	z-index:999
}
.iapViewer span {
	font-size:120%
}
.iapViewer img {
	curser:pointer
}
.iapDrop {
	box-shadow:5px 5px 5px #999;
	visibility:hidden
}
.iapImgContainer {
	padding-bottom:10px;
	padding-left:20px
}
.iapAudioPreview {
	padding:10px 0 10px 40px
}