.iapViewer {
  position:fixed;
  height:auto;
  z-index:999;
  overflow:hidden;
  visibility:hidden;
  background:#3B3B3C;
  color:white;
  text-align:center;
  right:20px;
  top:50px;
  box-shadow:5px 5px 5px #969697;
}
.iapViewer span {
  font-size: 120%;
}
.iapViewer img {
  curser: pointer;
}
.iapDrop {
  box-shadow:5px 5px 5px #969697;
  text-align: center;
}
.iapImgContainer {
 padding-left:20px;
 padding-bottom:10px;
}
.iapAudioPreview {
 padding: 10px 0 10px 40px;
}